@charset "UTF-8";
*{margin: 0;padding: 0;}
ul{list-style: none;}
img{vertical-align: top; border: 0;}
a{text-decoration: 0; color: black;}

#header{
    width: 100%; height: 58px;
    margin: 0 auto;
    padding-top: 20px; box-sizing: border-box;
    position: fixed;
    background-color: #fff;
}
.clearFix::after{
    content: "";
    display: block;
    clear: both;
}
#header .h-logo{
    width: 50px; height: 21px;
    background-image: url(oth/h-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 250px;
    float: left;
    cursor: pointer;
}
#header .main-menu{
    float: left;
    width: 500px;
    margin-left: 450px;
}
#header .main-menu>div{
    float: left;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    margin-left: 40px;
}
#header .main-menu>div:hover{color: #8f8f8f;}
#header .icon{
    cursor: pointer;
    float: right;
    margin-right: 100px;
}
#header .icon>div{
    color: #999999;
    opacity: 0.5;
    margin-left: 20px;
    float: left;
}
#header .talk{
    width: 100px; height: 50px;
    background-image: url(oth/talk.png);
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    position: fixed;
    bottom:50px; right:30px;
}


#section .section1 .main-banner{
    width: 100%; height: 1000px;
    background-image: url(oth/main-banner.jpg);
    padding-top: 50px; box-sizing: border-box;
}
#section .section1 .main-banner>div{
    width: 168px; height: 46px;
    color: white;
    background-color: #222222;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    line-height: 46px;
    cursor: pointer;
    margin: 0px auto;
}#section .section1 .main-banner .mungu1{
    margin-top: 100px;
}
#section .section1 .main-banner>div:nth-child(2){
    margin-top: 700px;
}
#section .section1 .main-banner>div:hover{
    opacity: 0.8;
}
#section .section2 .mungu3{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #707070;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}
#section .section2{
    width: 1680px;
    margin: 0 auto;
}
#section .section2 .product .slide i{
    font-size: 25px;
    margin-top: 250px;
    cursor: pointer;
}
#section .section2 .product .slide:hover{
    color: #a1a1a1;
}
#section .section2 .product{
    margin-top: 30px;
}
#section .section2 .product>div{
    float: left;
}
#section .section2 .product .product-image{
    width: 530px; height: 705px;
    border-radius: 30px;
    transition: all 0.3s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    float: left;
    cursor: pointer;
    overflow: hidden;
}
#section .section2 .product .product1{
    background-image: url(oth/product1.jpg);
    margin-left: 10px;
}
#section .section2 .product .product2{
    background-image: url(oth/product2.jpg);
    
}
#section .section2 .product .product3{
    background-image: url(oth/product3.jpg);
    margin-right: 10px;
}
#section .section2 .product .product-image .bg_white{
    width: 530px; height: 705px;
    opacity: 0;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.7);
}
#section .section2 .product .product-image:hover .bg_white{
    opacity: 1;
}
#section .section2 .product .product-image .bg_white>p{
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #282828;    
}    


#section .section2 .product .product-image:hover{
    background-size: 120%;
}

#section .section2 .product .product-image .pro-detail{
    font-size: 18px;
    color: #282828;
    
}
#section .section2 .product .product-image .bg_white .price{
    color: #222222;
    font-size: 15px;
    font-weight: 300;
    margin-left: 5px;
    text-align: center;
}
#section .section2 .product .product-image .bg_white .pro-title{
    font-weight: 400;
    padding-top: 200px; box-sizing: border-box;
}
#section .section2 .product .product-image .bg_white .price-str{
    font-weight: 400;
}
#section .section2 .product .product-image .bg_white .del-line{
    color: #555555;
    font-size: 12px;
    font-weight: 300;
}


#section .section3{
    width: 1680px;
    margin: 0 auto;
}
#section .section3 .gallery .slide i{
    font-size: 25px;
    margin-top: 150px;
    cursor: pointer;
}
#section .section3 .gallery .slide:hover{
    color: #a1a1a1;
}
#section .section3 .gallery{
    margin-top: 50px;
}
#section .section3 .gallery>div{
    float: left;
}
#section .section3 .gallery .image{
    width: 265px; height: 352px;
    border-radius: 10px;
    transition: all 0.3s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    float: left;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid gray; box-sizing: border-box;
}
#section .section3 .gallery .image1{
    background-image: url(oth/image1.jpg);
    margin-left: 10px;
}
#section .section3 .gallery .image2{
    background-image: url(oth/image2.jpg);
}
#section .section3 .gallery .image3{
    background-image: url(oth/image3.jpg);
}
#section .section3 .gallery .image4{
    background-image: url(oth/image4.jpg);
}
#section .section3 .gallery .image5{
    background-image: url(oth/image5.jpg);
}
#section .section3 .gallery .image6{
    background-image: url(oth/image6.jpg);
    margin-right: 10px;
}
#section .section3 .gallery .image .bg_white{
    width: 265px; height: 352px;
    opacity: 0;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.7);
}
#section .section3 .gallery .image:hover .bg_white{
    opacity: 1;
}
#section .section3 .gallery .image .bg_white>p{
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #282828;    
}    


#section .section3 .gallery .image:hover{
    background-size: 120%;
}

#section .section3 .gallery .image .slide-detail{
    font-size: 18px;
    color: #282828;
    
}
#section .section3 .gallery .image .bg_white .price{
    color: #222222;
    font-size: 15px;
    font-weight: 300;
    margin-left: 5px;
    text-align: center;
}
#section .section3 .gallery .image .bg_white .gallery-title{
    font-weight: 400;
    padding-top: 100px; box-sizing: border-box;
}
#section .section3 .gallery .image .bg_white .price-str{
    font-weight: 400;
}
#section .section3 .gallery .image .bg_white .del-line{
    color: #555555;
    font-size: 12px;
    font-weight: 300;
}
#section .section4{
    width: 1680px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
#section .section4>p{
    font-weight: 300;
    font-family: "Roboto", sans-serif;;
}
#section .section5{
    width: 1624px;
    margin: 0 auto;
    margin-top: 50px;
}
#section .section5>div{
    width: 488px; height: 649px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    cursor: pointer;
}
#section .section5 .play1{
    background-image: url(oth/play1.jpg);
}
#section .section5 .play2{
    background-image: url(oth/play2.jpg);
    margin-left: 80px;
}
#section .section5 .play3{
    background-image: url(oth/play3.jpg);
    margin-left: 80px;
}
#section .section6{
    width: 688px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 140px;
    font-size: 15px;
    text-align: left;
    color: #707070;
}
#section .section7{
    width: 1624px;
    margin: 0 auto;
}
#section .section7>div{
    width: 488px; height: 649px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    cursor: pointer;
    margin-top: 50px;
}
#section .section7 .asmr1{
    background-image: url(oth/asmr1.jpg);
}
#section .section7 .asmr2{
    background-image: url(oth/asmr2.jpg);
    margin-left: 80px;
}
#section .section7 .asmr3{
    background-image: url(oth/asmr3.jpg);
    margin-left: 80px;
}
#footer{
    width: 100%;
    margin-top: 150px;
    background-color: white;
    padding-bottom: 30px; box-sizing: border-box;
    border-top: 1px solid black;
}
#footer .lgo .footerlogo{
    width: 200px; height: 100px;
    background-image: url(oth/h-logo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    margin-top: 30px;
    float: left;
    margin-left: 30px;
}
#footer .lgo .home{
    float: right;
    margin-top: 50px;
    color: #707070;
    font-weight: 500;
    margin-right: 100px;
    cursor: pointer;
}
#footer .footdetail{
    margin-left: 50px;
}
#footer .ascro{
    margin-top: 30px;
    margin-left: 50px;
}
#footer>div>p{
    color: #707070;
    font-weight: 300;
    font-size: 15px;
}
#footer .ascro>p{
    float: left;
    cursor: pointer;
}
#footer .ascro .paylogo{
    width: 100px; height: 25px;
    background-image: url(oth/escrow_toss.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
